@model IEnumerable<Nokta.Models.Nokat>

@{
    ViewBag.Title = "Index";
}

@Html.Hidden("HiddenToken")

<div id="fb-root"></div>

<script>
    var oauth_url = 'https://www.facebook.com/dialog/oauth/';
    oauth_url += '?client_id=222975161160358';
    oauth_url += '&redirect_uri=http://localhost:38758/nokta';
    oauth_url += '&scope=publish_actions';
    oauth_url += '&response_type=token';

    window.top.location = oauth_url;
</script>

